@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or within a Tailwind CSS <style> tag if applicable */

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  